---
import Layout from '@/components/layouts/Layout.astro';
import { langs } from '@/i18n';

export async function getStaticPaths() {
    return langs.map((element) => ({
        params: { lang: element.lang }
    }));
}
---

<Layout title="Simon" description="Simon website">
    <div>
        Hello world !
    </div>
</Layout>
